body {
	background-color: #2c2b2c;
	color: white;
	margin: auto 0;
	text-align: center;
	max-width: 100%;
}

p {
	color: white;
	font-size: 20px;
	font-family: 'Kelly Slab', cursive;
	/*font-family: 'Work Sans', sans-serif;*/
	margin: auto;
}

img {
	max-height: 15rem;
	max-width: 10rem;
	flex: 1 0 24rem;
    /*margin: 1rem;*/
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.header {
	max-width: 40rem;
	max-height: 10rem;
	overflow: hidden;
	background-color: #2c2b2c;
	padding: 20px 10px;
	text-align: center;
	margin: 0 auto;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header a.active {
	background-color: white;
	color: black;
}

.header-left {
	float: left;
}

.grid-container {
	display: grid;
  	grid-template-columns: 170px 170px 170px;
  	grid-template-rows: 100px 100px 100px; 
  	grid-column-gap: 10px;
  	grid-row-gap: 15px;
  	justify-content: center;
  	margin: auto;
  	max-height: 100rem;
  	max-width: 100%;
  	background-color: white;
  	background-image: url('https://media.rawg.io/media/games/d5a/d5a24f9f71315427fa6e966fdd98dfa6.jpg');
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: : hidden;
	transform: scale(1.1);
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 24rem;
	border: 0.5rem solid black;
}

.close {
	 float: right;
	 width: 1.5rem;
	 line-height: 1.5rem;
	 text-align: center;
	 cursor: pointer;
	 border-radius: 0.30rem;
	 background-color: lightgray;
}

.close:hover {
	background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
	
